{% extends 'base.html' %}
{% block title %}Show Devices Page{% endblock %}

{% block content %}
<div class="container mt-5 ms-5">
  <h2 class="text-primary">Enrolled Devices</h2>
  {% if enrolled_devices %}
  <div class="col-6 mb-3">
    <table>
      <thead>
        <tr>
          <th>Device ID</th>
          <th>Location ID</th>
          <th>Model Type</th>
          <th>Model Number</th>
        </tr>
      </thead>
      <tbody>
        {% for device in enrolled_devices %}
          <tr>
            <td>{{ device.DeviceID }}</td>
            <td>{{ device.LocationID }}</td>
            <td>{{ device.model_type }}</td>
            <td>{{ device.model_number }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
    <p>No enrolled devices found for this location.</p>
  {% endif %}
</div>
{% endblock %}
