{% extends 'base.html' %}
{% block title %}Login Page{% endblock %}

{% block content %}
<div class="container mt-5 ms-5 mt-3">
  <h2 class="text-primary">User Login</h2>
<div class="col-6 mb-3 ms-3 mt-3">
  <form method="POST" action="/login">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br><br>
    <input type="submit" value="Login" class="btn btn-outline-primary">
    <br>
  </form>
</div>
</div>
{% endblock %}
